.centralizar {
        align-items: center;
        text-align: center;
}

.topo {
        height: 50px;
        background-color: cornflowerblue;
        padding: 5px;
}

.voltar {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 100%;
        font-size: 18pt;
        color: black;
}

.voltar:hover {
        background-color: white;
}

.centralizar {
        align-items: center;
        text-align: center;
}

.topo {
        height: 50px;
        background-color: cornflowerblue;
        padding: 5px;
}

.menu {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 100%;
        font-size: 18pt;
        color: black;
}

.menu:hover {
        background-color: white;
}

.btn-opcoes {
        border-radius: 25px;
        width: 66%;
}

.cls-maior {
        min-height: 50px;
}

.centralizar {
        align-items: center;
        text-align: center;
}

.topo {
        height: 50px;
        background-color: cornflowerblue;
        padding: 5px;
}

.btn-menu {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 100%;
        font-size: 18pt;
        color: black;
}

.btn-menu:hover {
        color: black;
}

.btn-menu:active {
        background-color: white;
        color: black;
}

.btn-opcoes {
        border-radius: 25px;
        width: 66%;
}

.icone-redondo {
        color: white;
        border-radius: 100%;
        font-size: 18pt;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: cornflowerblue;
}

.span-link {
        padding: 5px;
        font-size: 16pt;
}

.link-add:hover {
        background-color: cornflowerblue;
        color: white;
}

.entre-btn {
        display: block;
        clear: both;
        content: "";
        width: 50px;
}

.nav-vertical {
        display: none;
        height: calc(100vh - 50px);
        background-color: cornflowerblue;
        width: 80%;
        z-index: 10;
        position: absolute;
        box-shadow: 5px 10px 10px -5px;
}

.showMenu {
        display: block;
        animation-name: slide-h;
        animation-duration: 1s;
}

@keyframes slide-h {
        0% {
                width: 0vw;
        }
        100% {
                width: 80vw;
        }
}

#foto {
        width: 20%;
}

#nome {
        width: 80%;
        text-align: right;
        padding: 5px;
}

#dados {
        display: flex;
        padding: 5px;
}

.link-menu {
        background-color: transparent;
        font-size: 14pt;
        padding: 10px;
        color: black;
}

.link-menu:hover {
        background-color: #87baf2;
}

a:hover {
        text-decoration: none;
}

.icones-menu {
        background-color: white;
        padding: 10px;
        border-radius: 50%;
        font-size: 12pt;
}

#erros {
        display: none;
}